# Data manipulation
numpy
pandas
PyYAML # for YAML files
Pillow # for images
# Plotting
matplotlib
seaborn
# Jupyter Notebooks
ipython
ipywidgets
jupyter
tqdm
# Machine Learning (torch to be added separately)
scikit-learn
nltk